<% var home = EventsAdmin.home %>
<% layout('../share/master') -%>
<% script(home + '/assets/angularjs/S21NYWinnerList.js') -%>
<div class="container-fluid UserListWrap" ng-app="S21nyWinnerListApp">
	<div class="page-header">
		<h1 id="rwd_tables" class="title">新春領紅包名單</h1>
	</div>
	<div class="table-responsive" ng-controller="WinnerListController as winnerList">		
		<div class="table-functions">
			<button type="button" class="btn btn-success new-btn" onclick="location.href='winnerlist_excel'">
				<span class="glyphicon glyphicon-download-alt icon-left"></span>匯出 Excel
			</button>
		</div>
		<table class="table" ng-init="winnerList.getWinnerList(1)">
			<thead>
				<tr>
					<th>#</th>
					<th>獎項</th>
					<th>獎項開放日期</th>
					<th>ID</th>
					<th>姓名</th>
					<th>電話</th>
					<th>Email</th>
					<th>地址</th>
					<th>電子報</th>
					<th>來源IP</th>
					<th>中獎日期</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="winner in list">
    				<td>{{$index+1}}</td>
    				<td>{{winner.prizename}}</td>
    				<td>{{winner.startdate | date:'yyyy-MM-dd HH:mm:ss'}}</td>    				
    				<td>{{winner.id}}</td>
    				<td>{{winner.name}}</td>
    				<td>{{winner.phone}}</td>  
    				<td>{{winner.email}}</td>
    				<td>{{winner.address}}</td>
    				<td><span ng-class="getLabelClass(winner.isreceived[0])">{{winner.isreceived[0] | epaperStatus}}</span></td>
    				<td>{{winner.ipaddr}}</td>
    				<td>{{winner.createdate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
    			</tr>
        	<tbody>
		</table>
		<div align="center">
			<ul class="pagination">	
				<li><a class="page" href="#" ng-click="winnerList.getWinnerList(1)">«</a></li>
				<li ng-repeat="n in [] | range:numberOfPages | startFrom:startPage | limitTo:limitPage + 2 " 
					ng-class="getCurrentPageClass(n)">
					<a class="page" href="#" ng-click="winnerList.getWinnerList(n)">{{n}}</a>
				</li>
				<li><a class="page" href="#" ng-click="winnerList.getWinnerList(numberOfPages)">»</a></li>	  
			</ul>
		</div>
	</div>
</div>