<% var home = EventsAdmin.home %>
<% layout('../share/master') -%>
<% script(home + '/assets/angularjs/MYVITAProfilelist.js') -%>
<div class="container-fluid PrizeListWrap" ng-app="ProfileListApp">
	<div class="page-header">
		<h1 id="rwd_tables" class="title">個人資料</h1>
	</div>
	<div class="table-responsive"
		ng-controller="ProfileListController as profileList"
		ng-init="profileList.setOption(<%=id%>, '<%=column%>')" >
		
		<div class="table-functions">
			<button type="button" class="btn btn-success new-btn" onclick="location.href='<%=home%>/MYVITA/profilelist_excel'">
				<span class="glyphicon glyphicon-download-alt icon-left"></span>匯出 Excel
			</button>
			<button type="button" class="btn btn-success new-btn" onclick="location.href='<%=home%>/MYVITA/profilegrouplist_excel'">
				<span class="glyphicon glyphicon-download-alt icon-left"></span>匯出 Excel (不重複)
			</button>
		</div>
		<table class="table" ng-init="profileList.getProfileList(1)">
			<thead>
				<tr>
					<th>#</th>
					<th>ID</th>					
					<th>Game ID</th>
					<th>Parent ID</th>
					<th>FB姓名</th>
					<th>姓名</th>
					<th>電話</th>
					<th>Email</th>
					<th>建立時間</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="profile in list">
					<td>{{$index+1}}</td>
					<td>{{profile.id}}</td>	
					<td>{{profile.gameid}}</td>	
					<td>{{profile.pid}}</td>					
					<td>{{profile.fbname}}</td>
					<td>{{profile.name}}</td>
					<td>{{profile.phone}}</td>
					<td>{{profile.email}}</td>
					<td>{{profile.createdate | date:'yyyy-MM-dd HH:mm:ss' }}</td>					
				</tr>
			<tbody>
		</table>
		<div align="center">
			<ul class="pagination">
				<li>
					<a class="page" href="#" ng-click="profileList.getProfileList(1)">«</a>
				</li>
				<li ng-repeat="n in [] | range:numberOfPages | startFrom:startPage | limitTo:limitPage + 2 "
					ng-class="getCurrentPageClass(n)">
					<a class="page" href="#" ng-click="profileList.getProfileList(n)">{{n}}</a>
				</li>
				<li>
					<a class="page" href="#" ng-click="profileList.getProfileList(numberOfPages)">»</a>
				</li>
			</ul>
		</div>
	</div>
</div>
