<% var home = EventsAdmin.home %>
<% layout('../share/master') -%>
<% stylesheet(home + '/assets/css/componentsDemo.css') -%>
<div class="container-fluid">	
	<div class="page-header">
		<h1 id="panels" class="title">
		Templete
			<small>Express 4.x, EJS 1.x</small>
		</h1>
	</div>
	<div class="desc-box">
		<h4>Dependencies</h4>
		<p>
		"express": "^4.10.1"<br />
	    "serve-favicon": "^2.1.4"<br />
	    "body-parser": "^1.9.2"<br />   
	    "errorhandler": "~1.3.0"<br />
	    "method-override": "~2.3.0"<br />
	    "morgan": "~1.5.0"<br />
	    "passport": "~0.2.1"<br />
	    "passport-local": "~1.0.0"<br />
	    "cookie-parser": "~1.3.3"<br />
	    "express-session": "~1.9.2"<br />
	    "log4js": "~0.6.21"<br />   
	    "async": "^0.9.0"<br />
	    "ejs": "~1.0.0"<br />
	    "ejs-locals": "~1.0.2"<br />
	    "mysql": "~2.5.3"<br />
	    "moment": "~2.8.4"<br />
    	"node-uuid": "~1.4.2"<br />
    	"request": "~2.51.0"<br />
    	"express-mysql-session": "~0.3.1"<br />
    	"node-xlsx": "~0.5.1"
		</p>
		<p>
			<a target="_blank" href="http://test.yam.com/david_sang/CMS_platform/2.0.4/componentsDemo.html">RD2 CMS v2.0.4 Demo</a>
		</p>
	</div>
</div>