<% var home = EventsAdmin.home %>
<% layout('../share/basic') -%>
<% script(home + '/assets/angularjs/HomeLogin.js') -%>
<div id="wrap" ng-app="LoginApp">		
	<div id="midWrap">
		<div class="container-fluid">
			<div class="login_form" ng-controller="LoginController as login">
				<form name="loginForm" class="form" ng-submit="loginForm.$valid && login.submit()" noValidate>
					<img src="<%=home%>/assets/images/RD2-1.png" alt="logo" class="img-circle">
					<div class="form_gap">
						<input 
							type="text" 
							class="form-control" 
							id="inputEmail" 
							placeholder="Account" 
							name="username" 
							ng-model="login.username" 
							ng-focus="showAlert && login.resetAlert()"
							required>
					</div>
					<div class="form_gap">
						<input 
							type="password" 
							class="form-control" 
							id="inputPassword" 
							placeholder="Password" 
							name="password" 
							ng-model="login.password"
							ng-focus="showAlert && login.resetAlert()"
							required>
					</div>
					<div class="form_gap"><div class="checkbox">
						<label>
							<input type="checkbox" id="inputRemember" name="remember" ng-model="login.remember"> Remember me
						</label>
					</div></div>
					<div class="form_gap">
						<button type="submit" class="btn btn-default btn-lg btn-login" ng-disabled="loginForm.$invalid">Login</button>
					</div>
					<div class="alert alert-danger" role="alert" align="center" ng-show="showAlert">{{msg}}</div>
				</form>
			</div>
		</div>
	</div>
</div>
